@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');

h1 span{
    font-family: "Whisper", cursive;
    color: rgb(22, 24, 19);
}

#dias_restantes{
    color: pink;
    font-size : 50px;
}

 